<!-- TODO: flex-layout-->
<div class="page">

    <h1 class="title">Detect.io</h1>
    <p>drop images of welds below to get statistics</p>

    <div class="container upload-container">

        <upload></upload>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <tile *ngFor="let tile of tileData" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33"
            title="{{tile.title}}" subtitle="{{tile.subtitle}}"></tile>
    </div>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Images">

            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <image-tile *ngFor="let num of [0,1,2,3,4]" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxFlex.lg="33"
                    fxFlex.xl="33"></image-tile>
            </div>

        </mat-tab>
        <mat-tab label="Details">

            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <chart-container title="Defect Overview">
                    <div #containerRef class="chart-container">
                        <ngx-charts-pie-chart [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                            [scheme]="colorScheme" [results]="single" [legend]="true" [labels]="true" [doughnut]="true">
                        </ngx-charts-pie-chart>
                    </div>
                </chart-container>
            </div>


            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <chart-container title="Defect Overview">
                    <div #containerRef class="chart-container">
                        <ngx-charts-bar-vertical [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
                            [scheme]="colorScheme" [results]="single" [legend]="true">
                        </ngx-charts-bar-vertical>
                    </div>
                </chart-container>
            </div>


            <!--
            <div class="chart-container">

                <analytics></analytics>
            </div>

            <div class="chart-container">

                <ngx-charts-bar-vertical [view]="[300, 700]" [scheme]="colorScheme" [results]="single" [legend]="true">
                </ngx-charts-bar-vertical>
            </div>
        -->

        </mat-tab>
    </mat-tab-group>





</div>