.toolbar-title {
  font-family: staatliches;
  font-size: 120%;
  cursor: pointer;

  span {
    color: #0065bd;
    margin-left: 5px;
  }
}

mat-toolbar {
  background-color: #eeeeee;
}

.page {
  background-color: #eeeeee;
  // height = 100% - toolbarheight - padding*2
  height: calc(100vh - 64px - 60px);
  overflow-y: scroll;
  padding: 30px;
}

img {
  width: 30px;
  margin-right: 5px;
}
