<!-- toolbar -->
<mat-toolbar>
    <div routerLink="" class="toolbar-title" fxLayout="row wrap" fxLayoutAlign="start center">
        <img src="assets/favicon.svg">
        <span>W</span>eld 
        <span>D</span>efect
        <span>I</span>nformation
        <span>S</span>ystem
    </div>
    <span class="my-spacer"></span>
    <button routerLink="about" mat-icon-button>
        <mat-icon color="primary">info</mat-icon>
    </button>
</mat-toolbar>
<!-- main page section -->
<div class="page">
    <router-outlet></router-outlet>
</div>
