<p>Max. image size is 1 MB.</p>

<div class="dropzone" [class.hovering]="hovering" fileDrop (dropped)="onDropFiles($event)"
    (hovered)="toggleHover($event)" *ngIf="this.mode !== 'upload'">

    <p>Drag files here</p>

    <input class="hide-input" type=file accept="image/*" id="fileinput" #fileinput (change)="onFileSelect($event)"
        multiple="multiple">
    <button class="my-button select-button" (click)="fileinput.click()">
        or select from device</button>

</div>

<div *ngIf="this.mode != 'upload' && files.length > 0" class="file-entries">
    <div class="file-entry" *ngFor="let file of this.files; let i = index" fxLayout="row"
        fxLayoutAlign="space-between center">

        <div class="file-detail-container">
            <h4 class="file-detail">{{file.name}}</h4>
            <p class="file-detail">{{file.size | fileSize}}</p>
        </div>

        <button *ngIf="mode != 'upload'" mat-icon-button (click)="onRemove(i)">
            <mat-icon>cancel</mat-icon>
        </button>

    </div>

</div>

<button class="my-button upload-button" *ngIf="files.length > 0" (click)="onUpload()">Upload</button>


<!--
<mat-list *ngIf="this.mode == 'upload'">
    <mat-list-item *ngFor="let file of this.files; let i = index">
        <mat-icon matListIcon>insert_drive_file</mat-icon>
        <h4 matLine>{{file.name}}</h4>
    </mat-list-item>
</mat-list>
-->